.view-defect-table-container {
    height: 70vh;
}

.view-defect-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(70, 65, 65);
    color: #FFF;
    height: 100%;
}


.view-defect-table>thead.view-defect-table-header>tr th {
    position: sticky;
    background-color: rgb(58, 53, 53);
    color: #fff;
    top: 0;
}

.view-defect-table>thead.view-defect-table-header>tr th::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -1px;
    height: 100%;
    border-bottom: 1px solid rgb(27, 135, 95);
}

.view-defect-table>thead.view-defect-table-header>tr th::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -1px;
    height: 100%;
    border-top: 1px solid rgb(27, 135, 95);
}


.view-defect-table>tr,
td,
th {
    border: 1px solid rgb(27, 135, 95);
    text-align: center;
    padding: 5px;
    background-color: rgb(37, 33, 33);
}

.view-defect-table-header {
    background-color: #333;
}

.defect-list-table {
    overflow-y: scroll;
    height: 100%;
}