.view-defect-table-container {
    height: 70vh;
    overflow-y: scroll;
}

.view-defect-table {
    width: 100%;
    border-collapse: collapse;
    background-color:rgb(70, 65, 65);
    color: #FFF;
    height: 100%;
    overflow-y: scroll;
}

.view-defect-table > tbody {
    overflow-y: scroll;
}

.view-defect-table > thead.view-defect-table-header{
    position: sticky;
    top:0;
}

.view-defect-table > thead.view-defect-table-header > tr th {
    position: relative;
    background-color: #9f9f89;
    color:#000;
}

.view-defect-table > thead.view-defect-table-header > tr th::after {
    content: '';
    position: absolute;
    width: 100%;
    top:0;
    right: -1px;
    height: 100%;
    border-right: 1px solid #FFF;
}

.view-defect-table > thead.view-defect-table-header > tr th::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom:0;
    right: -1px;
    height: 100%;
    border-bottom: 1px solid #FFF;
}


.view-defect-table > tr,td,th {
    border: 1px solid #fff;
    text-align: center;
    padding: 5px;
    background-color:rgb(31, 14, 91);
}

.view-defect-table-header {
    background-color: #333;
}